

<nav class="navbar navbar-expand-lg navbar-dark nav-bg">
  <a class="navbar-brand" href="#">Towing Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="pad" mat-raised-button color="primary" href="#"><i class="material-icons">home</i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="pad" mat-raised-button color="primary" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="pad" mat-raised-button color="primary" href="#">Pricing</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a class="pad" mat-raised-button color="primary" *ngIf="!(loggedIn$ | async)" routerLink="/login" routerLinkActive="active">Login</a>
      <a class="pad" mat-raised-button color="primary" *ngIf="!(loggedIn$ | async)" routerLink="/register" routerLinkActive="active">Register</a>
      <p  *ngIf="loggedIn$ | async as user">{{ user.displayName }}</p>
      <a class="pad" mat-raised-button color="primary" *ngIf="(loggedIn$ | async)" (click)="logout()" routerLink="/"><i class="material-icons">&#xE860;</i> Logout</a>
    </span>
  </div>
</nav>
