<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a routerLink="/owner">Dashboard</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a routerLink='/contacts'><mat-icon>assignment_ind</mat-icon>Contacts</a>
</div>

<!-- Use any element to open the sidenav -->
<span class="btn btn-primary" (click)="openNav()">Open Menu</span>
<!--<span><bsdfsdfutton mat-button color="primary" (click)="openNav()">Open Menu</button></span>-->


