<div class="row">
  <div class="col">
    <h1 *ngIf="(user$ | async)">Hey There! </h1>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" #email required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" #password required>
    </div>
    <input (click)="login(email, password)" type="submit" class="btn btn-outline-primary" value="Login">
    <br>
    <input (click)="logout()" type="submit" class="btn btn-outline-primary" value="Logout"><br>
    <input (click)="clickMe()" type="submit" class="btn btn-outline-primary" value="Ckucj ME"><br>
    <h1 *ngIf="user$ | async as user ">{{ user.uid }}</h1>
    <h1>AUth Service Test</h1>

    <p *ngIf="(user$ | async )"> {{ user$ | async | json }}</p>

  </div>
</div>
